*{
   padding: 0;
   margin: 0;
}

body{
   font-family: 'Inconsolata', monospace;
   font-size: 1.5em;
}

.container{
   height: 100vh;
   background-image: url("../images/index-background.jpeg");
   background-size: cover;
   color: white;
   text-align: center;
}

h1{
   padding: 20px;
 }
 
 h4{
    margin-bottom: 20px;
    color: #b7b7b7;
}

table{
   padding: 0;
   margin: auto;
   width: 50%;
}

td{
   padding: 10px;
   width: 30%;
}
span{
   color: #b7b7b7;
}
a{
   color: white;
   text-decoration: none;
}


